<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>ログイン</title>
</head>
<body>
    <div id="login-form">
        <h2>ログインしてください</h2>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
        <form action="{{ url_for('login') }}" method="POST">
            <label for="userid">ユーザーID</label>
            <input type="text" id="userid" name="userid" required>
            <label for="pwd">パスワード</label>
            <input type="password" id="pwd" name="pwd" required>
            <button type="submit">ログイン</button>
        </form>

    </div>
</body>
</html>
